<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="main" xsi:type="File" fileName="logs/${logger}/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${message}${when:when=length('${exception}') > 0:inner=${newline}}${exception:format=tostring}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${message} ${when:when=length('${exception}') > 0:inner=-} ${exception:format=shorttype,message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="main" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>

</nlog>